    <div class="form-row" id="BuscarPersona">
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
            <label class="col-lg-2">Documento</label>
            <input class="col-lg-8 col-md-4 form-control" type="text" placeholder="Search" id="NumeroDni" aria-label="Search">
            <button class="col-lg-2 col-sm-2 btn btn-outline-white" id="btnBuscar">Search</button>
        </div>
    </div>
    <script src="~/App_JS/Reserva/reservaModal.js"></script>